@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

	width: 100vw;
	height: 100vh;
	padding: 38px;
	background-color: #F3F5FC;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	position: relative;
	font-family: 'inter';
}	

.nav{

	display: flex;
	width: fit-content;
	height: 100%;
	text-align: left;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	padding: 32px ;
	position: relative;
	flex-direction:column ;
}

.hide > p, .hide > h2{
	padding-top: 16px;
}

.container2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

#logo {
	width: 31px;
	height: 48px;
	left: 44px;
	position: absolute;

}

.container2 > textarea {

	border: none;
	background-color: transparent;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	outline: none;
	margin-top: 150px;
	resize: none;
	line-height: 1.3;
}

.result-container {

	word-break: break-all;
}

.hide{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	align-items: center;
	text-align: center;
	width: 100%;
	margin-top: 125px;
}

.container2 > textarea ::placeholder{

	text-align: center;
	color: #0A3871;
}

#cripto ::-webkit-scrollbar-track {

	background-color: #0A3871;
}

.bnt-container{

	width:680px;
}

.btn{

	display: flex ;
	gap: 24px;

}

.btn > button {

	width: 328px; 
	padding: 24px 12px;            
	border-radius: 24px;
	border: 1px solid #0A3871;
	font-size: 16pt;

}

#btn-copy {

	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
}

.copy {
	margin-top: 35px;
	width: 328px; 
	padding: 24px 12px;            
	border-radius: 24px;
	border: 1px solid #0A3871;
	font-size: 16pt;
	background-color: #FFFFFF;
	color:#0A3871;
	display: none;
}

#criptografar{

	background-color: #0A3871;
	color: #FFFFFF;
}

#descriptografar{
	background-color: #D8DFE8;
	color: #0A3871;
}


@media (max-width: 1130px){

	.container{

		gap: 64px;
		align-items: center;
		flex-direction: column 	;
    }

   	.hide > img{

		display: none;
    }
   
  	#logo{

	  top: 44px;
    }

   	.nav {

	  height: fit-content;
	  width: 100%;
	  align-items: center;
  	}

    .hide > p, .hide > h2{
	
	  margin-top: -96px;
	  width: fit-content;
    }

    .container2 > textarea {

	  align-self: flex-start;
	  width: 100%;
	  font-size: 25px;
	  margin-top: 450px;
    }

    .hide > p {
		margin-top: 10px;
	}

    #btn-copy {

	  width: 100%;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  flex-direction: column-reverse;
    }
 
    .copy {
	  width: 100%; 
    }
}

@media (max-width: 700px){

    .btn{

	 flex-direction: column;
	 gap: 12px;
    }

    .btn > button {

	 width: 100%;
    }

    .bnt-container {

	  width: auto;
    }

    .container {

	  gap: 32px;
    }

    .result-container {
	  width: 100%;
	  align-self: flex-start;
    }
}
