@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	padding: 38px;
	background-color: #F3F5FC;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	position: relative;
	font-family: 'inter';
}	

.nav{
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	padding: 32px ;
	position: relative;
}

#result {
	position: absolute;
	top: 16px;
}

.hide > p, .hide > h2{
	padding-top: 16px;
	/* width: 250px; */
}

.container2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

#logo {
	width: 31px;
	height: 48px;
	left: 44px;
	position: absolute;

}

.container2 > input {
	border: none;
	background-color: transparent;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	outline: none;
	margin-top: 168px;
	
	
	
}

.hide{
	align-items: center;
	text-align: center;
	width: 100%;
}

.container2 > input::placeholder{
	
	color: #0A3871;

	
}

.bnt-container{
	width:680px;
}

.btn{
	display: flex ;
	gap: 24px;

}

.btn > button {
	width: 328px; 
	padding: 24px 12px;              /*Da borda pra dentro*/
	border-radius: 24px;
	border: 1px solid #0A3871;
	font-size: 16pt;
 
}

#criptografar{
	background-color: #0A3871;
	color: #FFFFFF;
}

#descriptografar{
	background-color: #D8DFE8;
	color: #0A3871;
}


@media (max-width: 1130px)
{
  .container{

	gap: 64px;
	align-items: center;
	flex-direction: column 	;
   }
   .hide > img{

	display: none;
   }
   #logo{
	top: 44px;
   }
   .nav {
	height: fit-content;
	width: 100%;
	align-items: center;
   }
   .hide > p, .hide > h2{
	
	width: fit-content;
   }
   .container2 > input {
	align-self: flex-start;
	width: auto;
	font-size: 25px;
   }
}

@media (max-width: 700px)
{
  .btn{
	flex-direction: column;
	gap: 12px;

  }
  .btn > button {
	width: 100%;
  }
  .bnt-container {
	width: auto;
  }
  .container {
	gap: 32px;
  }
}
